/* Catalog Page */
.catalog-page {
    position: relative;
    width: 1331px;
    height: 1437px;
    background: #F5EFE6;
    mix-blend-mode: normal;
}

/* Book Icon Styles */
.book-icon {
    position: absolute;
    width: 128px;
    height: 128px;
}


/* Book Icon Background Colors */
.book-icon:nth-of-type(1) {
    left: 219.23px;
    top: 469px;
    background: #FFFFFF;
}

.book-icon:nth-of-type(2) {
    left: 219.23px;
    top: 765px;
    background: #FFFFFF;
}

.book-icon:nth-of-type(3) {
    left: 234px;
    top: 1068px;
    background: #FFFFFF;
}

/* Book Text Styles */
.book-text {
    position: absolute;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
}

/* Book Text Positions */
.book-text:nth-of-type(1) {
    width: 84px;
    height: 36px;
    left: 127.23px;
    top: 410px;
}

.book-text:nth-of-type(2) {
    width: 87px;
    height: 36px;
    left: 127px;
    top: 695.88px;
}

.book-text:nth-of-type(3) {
    width: 88px;
    height: 36px;
    left: 111px;
    top: 1032px;
}

/* Book Information Links */
.book-info-link {
    position: absolute;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: #4D869C;
}

/* Book Information Link Positions */
.book-info-link:nth-of-type(1) {
    width: 518px;
    height: 54px;
    left: 767px;
    top: 428px;
}

.book-info-link:nth-of-type(2) {
    width: 518px;
    height: 54px;
    left: 767px;
    top: 727px;
}

.book-info-link:nth-of-type(3) {
    width: 518px;
    height: 54px;
    left: 767px;
    top: 1060px;
}

/* Search Text Styles */
.search-text {
    position: absolute;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: #4D869C;
    transform: rotate(0.64deg);
}

/* Search Text Position */
.search-text-position {
    width: 576px;
    height: 54px;
    left: 397.6px;
    top: 200px;
}

/* Search Vector Styles */
.search-vector {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #4D869C;
}

/* Search Vector Position */
.search-vector-position {
    left: 22.99%;
    top: 7.59%;
}
